@import url('https://fonts.googleapis.com/css2?family=Kedebideri:wght@400;500;600;700;800;900&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Kedebideri;
}
#root{
  min-height: 100px;
  display: flex;
}